
/* COLORS */

$white: #fff;
$lightBlue: #38dfc0;
$darkGreen: #005717;
$green: #558a23;
$lightGreen: #98bf41;
$darkBlue: #003b5f;
$grey: #6c757d;

/* CONFIGURATIONS */

$viewportWidth: 1920px;
//$viewportHeight: 1117px;
$viewportHeight: 1080px;
$menuWidth: getVw(160px);
