<section id="login">
    <mat-card class="container">
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput>
      </mat-form-field>
      <button mat-raised-button color="primary">Sign in</button>
      <br>
      <p>Don't you have an account? <a routerLink="/signup">Sign up</a></p>
    </mat-card>
</section>
