@import "mixins";

section#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    padding: getVh(50px) getVw(16px);
    width: getVw(600px);

    p {
      font-size: 12px;
      a {
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
